@import url(layout.css);

body {
    min-height: 100svh;
    background: url(../images/wallpaper.jpg);
    background-size: cover;
    background-position: bottom;
}

#indexHeader {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;

    background: rgba(0, 0, 0, 0.267);
    box-shadow: rgba(0, 0, 0, 0.267) 4px 4px 4px 4px;
    z-index: 99;
}

#indexHeader h1 {
    user-select: none;
    color: #fff;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    font-size: 1.1em;
    font-weight: 500;
    position: relative;
    transition: .5s;
}

nav a:hover {
    color: var(--plYellow);
}

nav a::after {
    position: absolute;
    left: 0;
    bottom: -6px;
    background: var(--plYellow);
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 5px;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .5s;
}

nav a:hover:after {
    transform-origin: center;
    transform: scaleX(1);
}

#indexHeader button {
    width: 100px;
    height: 50px;
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    outline: none;
    margin-left: 20px;
    border-radius: 6px;
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
    transition: .5s;
}

#indexHeader button:hover {
    color: var(--plYellow);
    border: 2px solid var(--plYellow);
    background: var(--plBrown);
}