@import url(layout.css);

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    background: url(../images/wallpaper.jpg);
    background-size: cover;
    background-position: bottom;
}

#indexHeader {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;

    background: rgba(0, 0, 0, 0.267);
    box-shadow: rgba(0, 0, 0, 0.267) 4px 4px 4px 4px;
    z-index: 99;
}

#indexHeader h1 {
    font-size: 2em;
    user-select: none;
    color: #fff;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    font-size: 1.1em;
    font-weight: 500;
    position: relative;
    transition: .5s;
}

nav a:hover {
    color: var(--plYellow);
}

nav a::after {
    position: absolute;
    left: 0;
    bottom: -6px;
    background: var(--plYellow);
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 5px;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .5s;
}

nav a:hover:after {
    transform-origin: center;
    transform: scaleX(1);
}

#indexHeader button {
    width: 100px;
    height: 50px;
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    outline: none;
    margin-left: 20px;
    border-radius: 6px;
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
    transition: .5s;
}

#indexHeader button:hover {
    color: var(--plYellow);
    border: 2px solid var(--plYellow);
    background: var(--plBrown);
}

#wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: var(--plYellow);
    border: 2px solid var(--plBrown);
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#wrapper .form-box {
    width: 100%;
    padding: 40px;
}

#wrapper #icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: var(--plBlue);
    font-size: 2em;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

h2 {
    font-size: 2em;
    color: var(--plBlue);
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid var(--plBlue);
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: var(--plBlue);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: var(--plBlue);
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: var(--plBlue);
    line-height: 57px;
}

#remember-forgot {
    font-size: .9em;
    color: var(--plBlue);
    font-weight: 500;
    margin: -1px 0 15px;
    display: flex;
    justify-content: space-between;
}

#remember-forgot label input {
    accent-color: var(--plBlue);
    margin-right: 3px;
}

#remember-forgot a {
    color: var(--plBlue);
    text-decoration: none;
}

#remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: var(--plBlue);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

#login-register {
    font-size: .9em;
    color: var(--plBlue);
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

#login-register p a {
    color: var(--plBlue);
    text-decoration: none;
    font-weight: 600;
}

#login-register p a:hover {
    text-decoration: underline;
}

