@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Nunito+Sans:wght@300&family=Roboto+Mono:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Lato:wght@300;400&family=Nunito+Sans:wght@300&family=Roboto+Mono:wght@100;400&display=swap');

/* color palette: https://colorkit.co/palette/094463-507338-f5ba30-695048-d26804/ */
:root {
    --plBlue: #094463;
    --plBrown: #695048;
    --plYellow: #f5ba30;
    --plGreen: #507338;
    --plOrange: #d26804;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}